/*Stylesheet for the Ten Wings source*/
body {background-color: #EDE7DA}
p.title {color:#3B1F0B;font-size:140%;}
p.sec {color:#7A5230;font-size:130%;}
p.text {color:#2B1B10;font-size:130%;}
p.comment {color:#444444;font-family:sans-serif;font-size:100%;}
.han {font-size:170%;}
