/*Stylesheet for the zhongwen (original text) source*/
body {background-color: #F2EEE3}
p.title {color:#3B1F0B;font-size:140%;}
p.sec {color:#7A5230;font-size:130%;}
p.text {color:#2B1B10;font-size:135%;}
.han {font-size:170%;}
